<% provide(:title, "About") %>
<h1>About Supportal</h1>
<h2>Welcome to Supportal!</h2>
<div class about>
  <p style="text-indent: 50px">
    Our primary objective is to simplify API and database requests for users. We understand that working with APIs and databases can be a complex and time-consuming task, which is why we've created a platform that streamlines the process and makes it more user-friendly.
    Our application provides an easy-to-use interface that allows you to easily query Firstup/Dynamic APIs and databases without the need for extensive coding knowledge or experience. By simplifying the request process, we aim to save you time and effort, enabling you to focus on what really matters - quickly serving our customers.
  </p>
  <p style="text-indent: 50px">
    Whether you're a Support Agent assisting a client, a Client Success Manager looking for insights, or simply someone who wants to extract data from a Firstup/Dynamic, our platform is designed to make the process as simple and seamless as possible.
    We're passionate about making technology accessible to everyone, and we believe that by simplifying API and database requests, we can help more people to unlock the power of data and build amazing things. So if you're looking to simplify your workflow and make your life easier, give our application a try - we think you'll love it!
  </p>
</div>
