<% provide(:title, "Help") %>
<h1>Need Help?</h1>
<h2>
  Welcome to the help page for getting assistance with using Supportal. Here are some steps to follow if you need help:
</h2>
<div style = "font-size: 1.2em;">
<ol>
  <li>
    <b>Check the Documentation:</b> Supportal has documentation that covers how to use its features. Before reaching out for help, make sure you have read through the documentation thoroughly to see if your question has already been answered.
  </li>
  <li>
    <b>Search the Knowledge Base:</b> Supportal also has a knowledge base that contains frequently asked questions and answers. Use the search function to see if your question has already been addressed in the knowledge base.
  </li>
  <li>
    <b>Contact Professional Services:</b> If you have read the documentation and searched the knowledge base but still need assistance, contact the Professional Services. When contacting, be as detailed as possible about your issue and include any relevant information, such as error messages or screenshots.
  </li>
  <li>
    <b>Use Slack:</b> We're available on Slack! If you need immediate assistance, this can be a good option.
  </li>
</ol>
</div>
<div style="text-align: center; font-size: 1em;">
  <p>
    Remember to be patient when seeking assistance and to provide as much detail as possible about your issue. We will do our best to help you resolve the problem.
  </p>
</div>
</p>
