<!DOCTYPE html>
<h1>Dynamic Signal</h1>
<body class="dynamic-scripts">
<div class="tiles-container dynamic-scripts">
  <a href="<%= scripts_dynamic_get_users_path %>">
    <div class="tile" id="group-members">
      <div class="overlay">
        <p>Get Users By Group</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="get-targets">
      <div class="overlay">
        <p>Get Targets</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="member-tags">
      <div class="overlay">
        <p>Get Member Tags</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="suspend-members">
      <div class="overlay">
        <p>Suspend Members</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="delete-targets">
      <div class="overlay">
        <p>Delete Targets</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="delete-tags">
      <div class="overlay">
        <p>Delete Member Tags</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="update-email">
      <div class="overlay">
        <p>Update Member Email Address</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="update-target">
      <div class="overlay">
        <p>Update Target Name</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="update-ssoid">
      <div class="overlay">
        <p>Update Member External SSO ID</p>
      </div>
    </div>
  </a>
</div>
</body>
