<!DOCTYPE html>
<h1>Firstup</h1>
<body class="scripts">
<div class="tiles-container scripts">
  <a href="<%= scripts_firstup_get_users_path %>">
    <div class="tile" id="program-members">
      <div class="overlay">
        <p>Get Users by Program</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="remove-users">
      <div class="overlay">
        <p>Remove Users from ALL Programs</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="forget-users">
      <div class="overlay">
        <p>Forget Users from ALL Programs</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="group-members">
      <div class="overlay">
        <p>Get Groups</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="user-groups">
      <div class="overlay">
        <p>Get Users in Group</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="delete-groups">
      <div class="overlay">
        <p>Delete User Groups</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="update-email">
      <div class="overlay">
        <p>Update Member Email Address</p>
      </div>
    </div>
  </a>
</div>
</body>
