<!DOCTYPE html>
<% provide(:title, 'Welcome') %>
<h1>Which platform are we supporting today?</h1>
<body class="welcome-tiles">
<div class="tiles-container">
  <a href="#">
    <div class="tile" id="firstup">
      <div class="overlay">
        <p>Firstup</p>
      </div>
    </div>
  </a>
  <a href="<%= scripts_dynamic_path %>">
    <div class="tile" id="dynamic">
      <div class="overlay">
        <p>Dynamic Signal</p>
      </div>
    </div>
  </a>
  <a href="#">
    <div class="tile" id="reporting">
      <div class="overlay">
        <p>Reporting - COMING SOON</p>
      </div>
    </div>
  </a>
</div>
</body>
