<footer class="footer">
  <small>
    <a href="https://github.com/socialchorus/ps-supportal/blob/master/README.md" target="_blank">Supportal</a>
    by <a href="#">Professional Services</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://onfirstup.com/firstup/firstup" target="_blank">Nextup</a></li>
    </ul>
  </nav>
</footer>
