<footer class="footer">
  <small>
    <a href="https://github.com/socialchorus/ps-supportal/blob/master/README.md">Supportal</a>
    by <a href="#">Michael Valadez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://onfirstup.com/firstup/firstup/">Nextup</a></li>
    </ul>
  </nav>
</footer>
